<div class="well">
<h1><strong><%= @product.name %></strong> thingie!!!</h1>
<p><%= number_to_currency @product.price %></p>
<p>Found in the pile of <%= @product.category %> thingies!</p>
</div>


<%= link_to "GO BACK", root_path %>